body{
    margin: 0px;
}
#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url(Image/macbook_mouse.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}