p{
    /* color: orange; */
    font-size: 20px;
}
h1{
    font-size: 40px;
}
h1, p{
    font-family: sans-serif;
}
/* h4{
    text-transform: uppercase;
} */
/* . for class */

.uppercase{
    text-transform: uppercase;
}

.cursive{
    font-family: cursive;
}

#site-desc p{
    color: red;
}

#blog-header:hover{
    color: orange;
}

/* # for id */
#blog-title{
    color: #314831;
}